:root{
    --light:#f6f6f9;
    --primary:#1976d2;
    --light-primary:#cfe8ff;
    --gray:#eee;
    --dark-gray:#aaaaaa;
    --dark:#363949;
    --danger:#d32f2f;
    --light-danger:#fecdd3;
    --warning:#fbc02d;
    --light-warning:#fff2c6;
    --success:#388e3c;
    --light-success:#bbf7d0;
}

:root{

    --card-border-radius: 2rem;
    --border-radius-1: 0.4rem;
    --border-radius-2: 0.8rem;
    --border-radius-3: 1.2rem;

    --card-padding: 1.8rem;
    --padding-1: 1.2rem;

    --box-shadow: 0 2rem 3rem var(--color-light);

}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
.bx{
    font-size: 1.7rem;
}
a{
    text-decoration: none;
}
li{
    list-style: none;
}

html {
    overflow-x: hidden;
}

body.dark{
    --light:#181a1e;
    --gray:#25252c;
    --dark:#fbfbfb;
    --box-shadow: 0 2rem 3rem var(--color-light);
}

body {
    font-family: Arial, sans-serif;
    background-color:  var(--gray);
    margin: 0;
    padding: 0;
}

#admin_view_event_tab .header .left .breadcrumb li a {
    color: #007BFF;
    font-size: 26px;
    text-decoration: none;
}


.container {
    padding: 0 20px;
    margin: 0 auto;
    max-width: 1200px;
    box-sizing: border-box;
    box-shadow: 0 2px 4px var(--gray);
}

.search-bar {
    margin-bottom: 20px;
    display: flex;
    justify-content: flex-end;
}

.search-bar input {
    width: 50%;
    height: 36px;
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ddd;
    border-radius: 4px;
}

.search-bar button {
    padding: 10px 10px;
    height: 36px;
    font-size: 16px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.search-bar button:hover {
    background-color: #0056b3;
}

.event-table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 20px;
    border-radius: 15px;
    overflow: hidden;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.event-table th {
    background-color: var(--primary);
    color: var(--light);
    padding: 10px;
    text-align: left;
    font-size: 16px;
}

.event-table tbody td {
    background-color: var(--light);
    color: var(--dark);
    padding: 10px;
    text-align: left;
    font-size: 14px;
}


.event-table tbody tr:nth-child(even) {
    background-color: var(--gray);
}

.event-table tbody tr:hover {
    color: var(--dark);
}


.button-panel button {
    padding: 10px 15px;
    font-size: 14px;
    margin: 5px;
    background-color: #007bff;
    color: var(--gray);
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.button-panel button:hover {
    background-color: #0056b3;
}

.metrics-dashboard {
    width: 50%;
    height: 50%;
    text-align: center;
    place-items: center;
    justify-content: center;
    background: var(--light);
    color: var(--dark);
    padding: var(--card-padding);
    border-radius: var(--card-border-radius);
    margin-top: 1rem;
    box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.5);
    transition: all 300ms ease;

}

#metrics {
    width: 300px;
    height: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
}

#progressPieChart {
    max-width: 100%;
    max-height: 100%;
}

/* Feedback Box */
.feedback {
    font-family: Arial, sans-serif;
}

#feedbackHeading {
    color:var(--dark);
    transition: color 0.3s ease;
}

.feedback-box {
    width: 95%;
    margin: 20px 0;
    padding: 20px;
    background: var(--light);
    border-radius: 10px;
    box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.5);
    font-family: Arial, sans-serif;
    text-align: center;
    float: left;
    margin-left: 20px;

}

.feedback-box textarea {
    width: 100%;
    height: 100px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
    resize: none;
    outline: none;
    margin-bottom: 15px;
}

.feedback-box button {
    background-color: #007BFF;
    color: var(--light);
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.feedback-box button:hover {
    background-color: #0056b3;
}