@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root{
    --light:#f6f6f9;
    --primary:#1976d2;
    --light-primary:#cfe8ff;
    --gray:#eee;
    --dark-gray:#aaaaaa;
    --dark:#363949;
    --danger:#d32f2f;
    --light-danger:#fecdd3;
    --warning:#fbc02d;
    --light-warning:#fff2c6;
    --success:#388e3c;
    --light-success:#bbf7d0;
    --color-light: rgba(132,139,200,0.18);
    --box-shadow: 1px 2px 3px 3px var(--color-light);
}


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
.bx{
    font-size: 1.7rem;
}
a{
    text-decoration: none;
}
li{
    list-style: none;
}

html{
    overflow-x: hidden;
}

body.dark{
    --light:#181a1e;
    --gray:#25252c;
    --dark:#fbfbfb;
    --box-shadow: 0 2rem 3rem var(--color-light);
}

.content main{
    width: 100%;
    padding: 36px 24px;
    max-height: calc(100vh - 56px);
}

.content main .header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    grid-gap: 16px;
    flex-wrap: wrap;
}

.content main .header .left h1{
    font-size: 36px;
    font-weight: 600;
    margin-bottom: 10px;
    color: var(--dark);
}

.content main .header .left .breadcrumb{
    display: flex;
    align-items: center;
    grid-gap: 16px;
}

.content main .header .left .breadcrumb li{
    color: var(--dark);
}

.content main .header .left .breadcrumb li a{
    color: var(--dark-gray);
    pointer-events: none;
}

.content main .header .left .breadcrumb li a.active{
    color: var(--primary);
    pointer-events: none;
}

.content main .bottom-data{
    display: flex;
    flex-wrap: wrap;
    grid-gap: 24px;
    margin-top: 24px;
    width: 80%;
}


.content main .bottom-data .container1 {
    background: var(--light);
    width: 75%;
    height: 75vh;
    margin: 0 auto;
    position: relative;
    box-shadow: 2px 5px 20px rgba(119, 119, 119, 0.5);
}

.content main .bottom-data .container1 .leftbox {
    float: left;
    top: -3%;
    left: 5%;
    position: absolute;
    width: 20%;
    height: 80vh;
    background: var(--primary);
    box-shadow: 3px 3px 10px rgba(119, 119, 119, 0.5);
}
.content main .bottom-data .container1 .leftbox nav {
    display: flex;
    flex-direction: column; /* Stack nav items vertically */
    align-items: center; /* Center nav items horizontally */
}

.content main .bottom-data .container1 .leftbox nav a i{
    list-style: none;
    margin-bottom: 10px;
    color: var(--dark);
    font-size: 1.5em;
    display: block;
    transition: all 0.3s ease-in-out;
}

.content main .bottom-data .container1 .leftbox nav a i:hover {
    color: #3fb6a8;
    transform: scale(1.2);
    cursor: pointer;
}

.content main .bottom-data .container1 .leftbox nav a:first-child {
    margin-top: 10px;
}

.content main .bottom-data .container1 .leftbox nav a.active {
    color: #3fb6a8;
}

.content main .bottom-data .container1 .rightbox {
    float: right;
    width: 70%;
    height: 100%;
}

.content main .bottom-data .container1 .rightbox .profile {
    position: absolute;
    width: 70%;
}

.content main .bottom-data .container1 .rightbox h1 {
    color: var(--dark-gray);
    font-size: 18px;
    font-weight: bold;
    margin-top: 40px;
    margin-bottom: 35px;
    text-transform: uppercase;
    letter-spacing: 5px;
}

.content main .bottom-data .container1 .rightbox h2 {
    color: var(--dark-gray);
    width: 80%;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-size: 15px;
    margin-left: 2px;
}

.content main .bottom-data .container1 .rightbox p {
    border-width: 1px;
    border-style: solid;
    border-image: linear-gradient(to right, var(--primary), rgba(126, 211, 134, 0.5)) 1 0%;
    border-top: 0;
    width: 80%;
    font-size: 13px;
    padding: 7px 0;
    margin-bottom: 15px;
    color: var(--dark);
}
.content main .bottom-data .container1 .rightbox input{
    border: none;
    width: 80%;
    height: 25px;
    background-color: transparent;
    border-radius: 5px;
    margin-top: 5px;
    color: var(--dark-gray);
    font-size: 13px;
}

.content main .bottom-data .container1 .rightbox .btn {
    float: right;
    text-transform: uppercase;
    font-size: 12px;
    border: none;
    color: var(--dark-gray);
    padding: 5px;
    background: var(--light-primary);
    border-radius: 5px;
    transition: background-color 0.3s ease-out;
}

.content main .bottom-data .container1 .rightbox .btn:hover {
    background-color: var(--primary);
}


