<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="https://jakarta.ee/xml/ns/jakartaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_6_0.xsd"
         version="6.0">

        <servlet>
            <servlet-name>DashboardHomeController</servlet-name>
            <servlet-class>com.example.eventspherefrontend.controller.DashboardHomeController</servlet-class>
        </servlet>
        <servlet-mapping>
            <servlet-name>DashboardHomeController</servlet-name>
            <url-pattern>/pages/Home</url-pattern>
        </servlet-mapping>
        <!-- Welcome File Configuration -->
        <welcome-file-list>
            <welcome-file>pages/DashboardHome.jsp</welcome-file>
        </welcome-file-list>

    <servlet>
        <servlet-name>BatchController</servlet-name>
        <servlet-class>com.example.eventspherefrontend.controller.BatchController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>BatchController</servlet-name>
        <url-pattern>/pages/batch</url-pattern>
    </servlet-mapping>
    <!-- Welcome File Configuration -->
    <welcome-file-list>
        <welcome-file>pages/batch.jsp</welcome-file>
    </welcome-file-list>
</web-app>
